/* إعادة تعيين الإعدادات الافتراضية */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* تنسيق الجسم الرئيسي */
body {
    font-family: Arial, sans-serif;
    background-color: #FFFFFF;
    color: #333333;
    line-height: 1.6;
    padding: 20px;
}

/* تنسيق المقدمة (Header) */
header {
    background-color: #003366;
    color: #FFFFFF;
    padding: 20px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

header h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

#searchForm {
    margin-bottom: 10px;
}

#title {
    width: 60%;
    padding: 10px;
    border: 1px solid #CCCCCC;
    border-radius: 5px;
    font-size: 1rem;
}

#searchButton {
    padding: 10px 20px;
    background-color: #336699;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#searchButton:hover {
    background-color: #003366;
}

#sortOptions {
    background-color: #F5F5F5;
    padding: 10px;
    border: 1px solid #CCCCCC;
    border-radius: 5px;
    margin-top: 10px;
}

#sortOptions h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

#sortOptions select {
    padding: 5px;
    border: 1px solid #CCCCCC;
    border-radius: 5px;
    margin-right: 10px;
}

#sortButton {
    padding: 10px 20px;
    background-color: #336699;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#sortButton:hover {
    background-color: #003366;
}

/* تنسيق الوسط (Main Content) */
main {
    margin: 20px 0;
}

#stats {
    text-align: center;
    margin-bottom: 20px;
    font-size: 1.2rem;
    color: #003366;
}

#results {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

#results div {
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 5px;
    padding: 20px;
    width: 300px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

#results div:hover {
    transform: translateY(-5px);
}

/* تنسيق الذيل (Footer) */
footer {
    background-color: #003366;
    color: #FFFFFF;
    padding: 20px;
    text-align: center;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
}

#pagination {
    margin-bottom: 10px;
}

#pagination button {
    padding: 10px 20px;
    background-color: #336699;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 5px;
    transition: background-color 0.3s;
}

#pagination button:hover {
    background-color: #003366;
}

#disclaimer p {
    font-size: 1.2rem;
    color: #FFCCCC;
}
