/* إعادة تعيين الإعدادات الافتراضية */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* تنسيق الجسم الرئيسي */
body {
    font-family: Arial, sans-serif;
    background-color: #FFFFFF;
    color: #333333;
    line-height: 1.6;
}

/* تنسيق الجزء العلوي (Header) */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #003366;
    color: #FFFFFF;
    padding: 20px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

header h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

#searchForm {
    margin-bottom: 10px;
}

#title {
    width: 60%;
    padding: 10px;
    border: 1px solid #CCCCCC;
    border-radius: 5px;
    font-size: 1rem;
}

#searchButton {
    padding: 10px 20px;
    background-color: #336699;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#searchButton:hover {
    background-color: #003366;
}

#sortOptions {
    background-color: #F5F5F5;
    padding: 10px;
    border: 1px solid #CCCCCC;
    border-radius: 5px;
    margin-top: 10px;
}

#sortOptions h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

#sortOptions select {
    padding: 5px;
    border: 1px solid #CCCCCC;
    border-radius: 5px;
    margin-right: 10px;
}

#sortButton {
    padding: 10px 20px;
    background-color: #336699;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#sortButton:hover {
    background-color: #003366;
}

/* تنسيق الجزء الرئيسي (Main Content) */
main {
    margin-top: 200px; /* مساحة للجزء العلوي الثابت */
    margin-bottom: 100px; /* مساحة للجزء السفلي الثابت */
    padding: 20px;
    min-height: calc(100vh - 300px); /* لضمان أن يكون الجزء الرئيسي مرئيًا */
}

#results {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

/* تنسيق الجزء السفلي (Footer) */
footer {
    position: relative; /* تغيير من fixed إلى relative */
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #003366;
    color: #FFFFFF;
    padding: 20px;
    text-align: center;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

#pagination {
    margin-bottom: 10px;
}

#pagination button {
    padding: 10px 20px;
    background-color: #336699;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 5px;
    transition: background-color 0.3s;
}

#pagination button:hover {
    background-color: #003366;
}

#disclaimer {
    padding: 10px; /* تصغير حجم المربع */
    font-size: 0.8rem; /* تصغير حجم الخط */
    background-color: #003366; /* لون الخلفية */
    color: #FFCCCC; /* لون النص */
    border-radius: 5px; /* إضافة حواف دائرية */
    margin-top: 10px; /* إضافة مساحة علوية */
}
